@model ProyectoServicioTuristico.ViewModels.CreateGuiaViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-center">
            <h4 class="text-white">Perfil guía turístico </h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PrimerNombre" class="control-label text-primary"></label>
                            <input asp-for="PrimerNombre" class="form-control" />
                            <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SegundoNombre" class="control-label text-primary"></label>
                            <input asp-for="SegundoNombre" class="form-control" />
                            <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ApellidoPaterno" class="control-label text-primary"></label>
                            <input asp-for="ApellidoPaterno" class="form-control" />
                            <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ApellidoMaterno" class="control-label text-primary"></label>
                            <input asp-for="ApellidoMaterno" class="form-control" />
                            <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Edad" class="control-label text-primary"></label>
                            <input asp-for="Edad" class="form-control" />
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Sexo" class="control-label text-primary"></label>
                            <select asp-for="Sexo" class="form-control">
                                <option value="">--Seleccionar un opción--</option>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                            </select>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label text-primary"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label text-primary">Idiomas</label>
                            <div class="col-md-offset-2 col-md-10">
                                <table>
                                    <tr>
                                        @{
                                            int cnt = 0;
                                            List<ProyectoServicioTuristico.ViewModels.AsignacionIdiomaData> idiomas = ViewBag.Idiomas;

                                            foreach (var idioma in idiomas)
                                            {
                                                if (cnt++ % 1 == 0)
                                                {
                                                @:</tr><tr>
                                                }
                                                @:<td>
                                                    <input type="checkbox"
                                                           name="selectedIdiomas"
                                                           value="@idioma.IdiomaID"
                                                           @(Html.Raw(idioma.Asignado ? "checked=\"checked\"" : "")) />
                                                    @idioma.Nombre
                                                @:</td>
                                            }
                                        @:</tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ArchivoImagen" class="control-label text-primary"></label>
                            <div class="custom-file">
                                <input asp-for="ArchivoImagen" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Sube tu foto</label>
                            </div>
                            <span asp-validation-for="ArchivoImagen" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Crear" id="btnget" class="btn btn-primary ml-2" />
                        </div>
                </form>
            </div>
        </div>
    </div>
   

    @section Scripts {
        <script type="text/javascript">
            $(".custom-file-input").on("change", function () {
                var nombreArchivo = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(nombreArchivo);
            });
        </script>
        <script>
            $(function () {

                $('#chkveg').multiselect({
                    includeSelectAllOption: true
                });

                $('#btnget').click(function () {
                    alert($('#chkveg').val());
                });
            });
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
