@model IEnumerable<ProyectoServicioTuristico.Models.Idioma>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-black text-center">Catálogo de idiomas</h1>
<div class="text-center mt-3 mb-3">
    <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-primary mr-2">Regresar</a>
    <a asp-action="Create" class="btn btn-outline-primary ml-2">Crear nuevo idioma</a>
</div>
<div class="row ">
    <div class="col-8" style="margin-right:auto; margin-left:auto;">
        <table class="table table-hover table-responsive-sm text-center">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdiomaId" class="btn btn-primary mr-2">Editar</a> 
                            <a asp-action="Delete" asp-route-id="@item.IdiomaId" class="btn btn-danger ml-2">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>